@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>About StoreAid</h3>

<p>StoreAid Technologies is considered amongst Jaipur's top notch Information technology solution and training providing company. StoreAid Technologies is a name providing best in class and specialized solutions in the field of website designing company in jaipur and development, social media optimization and e commerce portal design and development. We here at StoreAid Technologies believe in strengthening innovative thoughts just beyond the limitations as true development power lies in unbounded imaginations. We have a highly skilled and qualified staff, and each of them possesses years of experiences and fully specialized in their field.</p>

<h3>About StoreAid</h3>

<p>
    StoreAid stands for StoreAid STOCK MANAGEMENT Software to provide stock/inventry management in easy/secure way and also provide the facility to backup/restore/sync your data online.
</p>
